@import './variables';
@import './functions';

*, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: $glb_text_size;
    font-weight: normal;
    color: $glb_text_color;
    line-height: 18px;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header{
    @include flexCenter();
    @include fullPage($glb_text_color_inverse, $header_bg_color);
    
    a {
        color: $header_text_color;
        background: #4570fc;
        padding: 10px 20px;
        border-radius: 6px;
        transition: .22s;

        &:hover{
            transform: scale(1.2);
        }
    }
}

.container {
    @extend header;
    background-color: $page_bg_color_yellow;
    color: $glb_text_color;
    flex-direction: column;
}

footer {
    @extend header;
    background-color: $footer_bg_color;
}